/* new */

.topnav {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(1, 1, 1);
  }
  
  .topnav-right {
    float: right;
    margin-right: 6rem;
  }